.hideError{
    max-height: 0px;
    overflow:hidden;
} 
.showError{
    height:100%;
    background-color: #fadede;
    padding: 1em 2em;
    margin: 1em;
    border-radius: 5px;
    color: #a63f3e;
}